  body {
    background-color: powderblue;
    font-family: "Papyrus", fantasy, sans-serif;                                        
  }
  h1 {
    color: rgb(104, 104, 203);
  }
  p {
    color: powderblue;
  }

  body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }

  main {
    max-width: 640px; /* Adjust the width as needed */
    margin: 0 auto; /* Center the content horizontally */
    color: powderblue;
    background-color: #333;
    flex: 1;
    padding: 20px;
  }
  
  header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
  }
  
  footer {
    background-color: #333;
    color: white;
    padding: 10px;
    margin-top: auto; /* Push footer to the bottom */
    /*width: 100%; /* Footer width */
    text-align: center;
  }
  
  main {
    flex: 1; /* Take remaining space */
    padding: 20px;
  }

  input,
select,
textarea {
  border: 2px solid #333;
  background-color: powderblue;
  border-radius: 0.4rem;
  height: 20px;
}


/* CSS */
.button-74 {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 20px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  font-size: 12px;
  padding: 0 10px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-74:hover {
  background-color: #fff;
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}

li {
  cursor: pointer;
}
li:hover p {
  color: greenyellow;
  font-size: 102%;
}