<table hx-swap="outerHTML" id="todo-table">
    <thead>
        <tr>
            <th>
                <p>Done</p>
            </th>
            <th>Todo</th>
            <!--<th>Type</th>-->
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {{ range .Todos }}
        <tr>
            <td><input type="checkbox" id="todo-{{ .ID }}" name="completed" {{ if .Completed }}checked{{ end }}></td>
            <td hx-trigger="click" hx-target="this" hx-swap="outerHTML" hx-get="/contact/1/edit">
                <h3>{{.Title }}</h3>
                <p>{{.Text }}</p>
            </td>
            <!--<td>{{.Type }}</td>-->
            <td><button hx-delete hx-delete="/api/v1/todos/{{ .ID }}" hx-target="#todo-list">Delete</button></td>
        </tr>
        {{ end }}
        <tr>
            <td>
                <p hx-post="/html/v1/todos">+</p>
            </td>
        </tr>
    </tbody>
</table>